$base__font-family: "Open Sans", sans-serif;
$base__font-size: 62.5%;


html{
    font-size: $base__font-size;
}
body{
    font-family: $base__font-family;
}

.heros_description{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .description_hero{
        width: 100rem;
        height: 35rem;
        background-color: white;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        .hero_about{
         
            display: flex;
            .hero_noun{
                text-transform: uppercase;
                font-size: 3.3rem;
                letter-spacing: 1px;
                .hero_noun-border{
                    border-bottom: 1px solid grey;
                    display: inline-block;
                    padding-bottom: 2rem;
                }
            }
            .hero_img{
                margin: 0 3rem 2rem 3rem;
                
            }
            .hero_jpg{
                max-height: 30rem;          
            }  
            .hero_text{
                max-width: 50rem;
            }   
        }
            .hero_close{
            text-align: right;
            font-size: 1.5rem;
            margin: 1rem 1rem 0rem 0rem;
            color: grey;
        }
    }
    &_on {
        display: block;
    }
}
.header{
    background: url("./images/home-slide01.jpg") bottom center no-repeat;
    min-height: 100vh;
    &__logo{
        margin: 2rem 0 0 2rem;
    }
    &__logoImg{
        width: 290px;
    }
    &__nav{
        margin-left: auto;
    }
    .nav__list{
        margin-top: 4.7rem;
    }
    .nav__item{
        border-right: 1px white solid;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: white;
        padding: 1rem 2.6rem;
        .item__link{
            text-decoration: none;
            color: white;
        }
    }
    .nav__item--last{
        border-right: 0;
        margin-right: 2.7rem;
    }
 
}

.shop{
    .basket{
        margin-top: 4.3rem;
        &__position{
            border: 1px  rgb(17, 3, 95) solid;
            padding: 1rem;         
        }
        &__heading{
            color: black;
            font-size: 3.3rem;
            border-bottom: 1px  rgb(17, 3, 95) solid;
            font-weight: bold;
            margin: 1rem;
            padding: 0 17rem 0.8rem 0;
        }
        &__element{
            margin: 1rem 1.7rem 0 auto;
            font-size: 3.4rem;
            .basket__text{
                display: inline;
                }
            .basket__amount{
                display: inline;
                color: red;
            }
            }
        &__content{
            font-size: 2.5rem;
            text-align: center;
            margin-top: 2.4rem;
            padding-bottom: 2rem;
        }
    } 
}
.heroes{
    margin-top: 6rem;
    justify-content: space-between;
    .hero--row{
        margin-top: 4rem;
    }
    .hero{
        margin-bottom: 0.7rem;
        &__name{
            font-size: 2.2rem;
            margin-top: 0.3rem;
        }
        &__rent{
            font-size: 1.3rem;
            margin: 0rem 0 0rem 0;
        }
        text-align: center;
        &__picture{
            width: 100%;
        
        }
    }
}



.footer{
    text-align: center;
    background-color: #271E54;
    font-size: 1rem;
    padding: 2rem;
    color: white;
    margin-top: 1rem;

}